.message-list {
	margin: 5px;
}

.message {
	padding: 5px;
	margin: 5px;
	background-color: #f4abd7;
}

.prompt {
	padding: 5px;
	margin: 10px;
	background-color: #f4abd7;
	width: 95vw;
}

.message-prompt {
	width: 95%;
}